#navbar {
  display: flex;
  flex-direction: row;
}

#navbar a {
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: bold;
  margin-right: 2.5%;
  text-decoration: none;
  transition: color 0.35s ease;
}

#navbar a:hover {
  cursor: pointer;
  color: #d29191;
}